:root {
    --border-color: #000000;
    --primary-bg-color: #fffff0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light;
   /* border: 1px solid; */
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    background-color: var(--primary-bg-color);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

nav a {
    width: 95%;
    padding: 10px;
    margin: 1px 3px;
    border: 2px solid black;
    border-radius: 17px;
    background: rgb(0, 255, 100);
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

#intro, #web-info, #threed-info, #immersive-info, #profilePic, #contact-info, footer {
    padding: 18px;
    font-size: 18px;
    line-height: 150%;
}

#intro a, #contact-info a {
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    background: rgb(0, 255, 100);
    text-align: center;
    text-transform: uppercase;
}

img, video {
    width: 100%;
    height: auto;
    margin: 4px 0;
    border-radius: 25px;
}

#gitHub-button {
    padding: 10px;
    margin: 10% 10px;
    background-color: rgb(255, 200, 0);
    border: 2px solid black;
    border-radius: 15px; 
    text-align: center;
    
}

#gitHub-button a {
    display: block;
}

#copyright {
    display: flex;
    justify-content: center;
}

footer {
    font-size: 12px;
}

@media (min-width: 1024px){
    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }    
}


